<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100vh;
    font-family: 'Comfortaa', cursive;
  }
    </style>
</head>
<body>

	<div class="welcome">
        <h2 align="center">Welcome to Text Summariser</h2>
        <br>
	</div> 

    <div class="output">
        <h3 align="center">Summary for the text provided</h3>
        <br><br>
                           
            <div class="input" style="padding-left: 30px; padding-right: 30px; ">
                <p class="summ" style="font-family: 'Comfortaa', cursive; font-size:20px; padding-top: 20px; word-spacing: 3px; font-weight: bold; color: #ffff; line-height: 30px;" align="center" >{{ summary }}</p>
                <br><br><br>
                
                <p align="center"><a href=home ><button class=button style="width: 90px;" >Back</button></a></p>
            </div>
                    
        
    </div>

</body>
</html>